.MatchPage {

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 20px;

    .page-heading {
        margin: 20px auto;
        font-family: 'Alfa Slab One', cursive;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Zen Tokyo Zoo', cursive;
    }

     .year-selector-card {
                justify-self: end;
                padding: 60px;
                font-family: 'Alfa Slab One', cursive;
                font-family: 'Bebas Neue', cursive;
                font-family: 'Lobster', cursive;
                font-family: 'Zen Tokyo Zoo', cursive;
        }

     .home-page-link {
            float : right;
            margin: 20px;
             padding: 60px;
             font-family: 'Alfa Slab One', cursive;
             font-family: 'Bebas Neue', cursive;
             font-family: 'Lobster', cursive;
             font-family: 'Zen Tokyo Zoo', cursive;
        }

}