.MatchDetailCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    margin-bottom: 50px;;


    .match-date, .match-venue, .match-result {
        margin-top: 10px;
        font-family: 'Alfa Slab One', cursive;
                font-family: 'Bebas Neue', cursive;
                font-family: 'Fredoka One', cursive;
                font-family: 'Fuggles', cursive;
                font-family: 'Lobster', cursive;
                font-family: 'Otomanopee One', sans-serif;
                font-family: 'Zen Tokyo Zoo', cursive;
    }
    .additional-detail {
        text-align: right;
        & > p {
            margin-bottom: 20px;;
        }

    }

}